@model IEnumerable<Data.FormModels.RegisterViewModel>


@{
    ViewData["Title"] = "Index1";

}

<h1>All Users</h1>
@if (Model.Any())
{
    <p>

        <a asp-area="" asp-controller="Account" asp-action="Register">Add New Employee</a>

    </p>
    
}

<table class="table">
    <thead>
        <tr>
            
            <th> @Html.DisplayNameFor(model => model.Firstname)</th>
            <th> @Html.DisplayNameFor(model => model.Lastname)</th>
            <th> @Html.DisplayNameFor(model => model.address)</th>
            <th> @Html.DisplayNameFor(model => model.DateofBirth)</th>
            <th> @Html.DisplayNameFor(model => model.DateofJoin)</th>
          
            <th> @Html.DisplayNameFor(model => model.AadharNumber)</th>
         


        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
               
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.address</td>
                <td>@user.DateofBirth</td>
                <td>@user.DateofJoin</td>
               
                <td>@user.AadharNumber</td>
              
                <td>

                    <a asp-action="Empedit" class="btn btn-warning" asp-route-id="@user.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Empdetail" class="btn btn-info" asp-route-id="@user.Id">Details</a>

                </td>

                <td>
                    <form method="post" asp-action="Empdelete" asp-route-id="@user.Id">
                        <button type="submit" class="btn btn-danger" onclick="return (confirm('Are you sure you want to delete this record?'))">Delete</button>
                        
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofJoin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AadharNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateofJoin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateofBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AadharNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    <a asp-action="Edit1" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
